@tailwind base;
@layer base {
    h1 {
        @apply text-2xl font-bold;
    }

    h2 {
        @apply text-xl font-bold;
    }

    h3 {
        @apply text-lg font-bold;
    }
}
@tailwind components;
@tailwind utilities;

/* Custom CSS */

::selection {
    background: rgb(194 65 12);
    color: white;
}

article p {
    @apply my-4
}

article ul {
    list-style-type: disc;
    margin-left: 1rem;
}

/* SearchBox */
.ais-SearchBox {
    margin: 0 0 .5rem 0;
    border-radius: 25px;
}
.ais-SearchBox-input {
    padding: .25rem .5rem;
    border-radius: 25px;
    border: 2px rgb(31 41 55) solid;
}
.ais-SearchBox-submitIcon {
    display: none;
}
.ais-SearchBox-resetIcon {
    margin-left: .5rem;
}

/* Pagination */
.ais-Pagination {
    display: flex;
    justify-content: center;
}
.ais-Pagination-list {
    display: flex;
    flex-direction: row;
}
.ais-Pagination-item {
    margin: 0 .5rem;
    font-size: 1Srem;
    border-radius: 5px;
    border: 1px solid rgb(31 41 55);
    color: rgb(31 41 55);
    padding: .25rem .5rem;
}
.ais-Pagination-item--selected {
    background-color: rgb(194 65 12);
    border-color: rgb(194 65 12);
    color: white;
}
.ais-Pagination-item--disabled {
    color: lightgray;
    border-color: lightgray;
    cursor: not-allowed;
}